/Random_CS_And_CPPDLLs/Random_CS_And_CPPDLLs/bin
/Random_CS_And_CPPDLLs/Random_CS_And_CPPDLLs/obj

/Petrol_Calculator/Petrol_Calculator/bin
/Petrol_Calculator/Petrol_Calculator/obj

Lotto_App/bin
Lotto_App/obj

GeoDashClone/GeoDashClone/bin
GeoDashClone/GeoDashClone/obj

FastFoodJoint/packages
FastFoodJoint/FastFoodJoint/bin
FastFoodJoint/FastFoodJoint/obj

Console_POS_Application/Console_POS_Application/bin
Console_POS_Application/Console_POS_Application/obj